{
    "name": "MobileNet",
    "cfg": [
        28,
        52,
        88,
        90,
        179,
        182,
        362,
        311,
        314,
        314,
        312,
        367,
        733,
        1024
    ],
    "cfg_base": [
        32,
        64,
        128,
        128,
        256,
        256,
        512,
        512,
        512,
        512,
        512,
        512,
        1024,
        1024
    ],
    "dataset": "ImageNet"
}