{
    "name": "ResNet_ImageNet",
    "depth": 50,
    "cfg": [
        52,
        55,
        55,
        146,
        55,
        55,
        55,
        55,
        105,
        111,
        232,
        111,
        111,
        111,
        111,
        111,
        111,
        211,
        222,
        290,
        222,
        222,
        222,
        222,
        222,
        222,
        222,
        222,
        222,
        222,
        423,
        442,
        1453,
        442,
        442,
        442,
        442
    ],
    "cfg_base": [
        64,
        64,
        64,
        256,
        64,
        64,
        64,
        64,
        128,
        128,
        512,
        128,
        128,
        128,
        128,
        128,
        128,
        256,
        256,
        1024,
        256,
        256,
        256,
        256,
        256,
        256,
        256,
        256,
        256,
        256,
        512,
        512,
        2048,
        512,
        512,
        512,
        512
    ],
    "dataset": "ImageNet"
}