{
    "name": "MobileNet",
    "cfg": [
        32,
        64,
        128,
        128,
        256,
        256,
        512,
        512,
        512,
        512,
        512,
        512,
        1024,
        1024
    ],
    "cfg_base": [
        32,
        64,
        128,
        128,
        256,
        256,
        512,
        512,
        512,
        512,
        512,
        512,
        1024,
        1024
    ],
    "dataset": "ImageNet"
}